presubmits:
  gardener/gardener:
  - name: pull-gardener-verify-image-build
    cluster: gardener-prow-build
    always_run: true
    skip_branches:
    - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
    annotations:
      description: Verify gardener image build on pull requests to master branch
      fork-per-release: "true"
    decorate: true
    spec:
      containers:
      - name: kaniko
        image: gcr.io/kaniko-project/executor:v1.16.0
        command:
        - /kaniko/executor
        args:
        - --context=/home/prow/go/src/github.com/gardener/gardener
        - --dockerfile=Dockerfile
        - --no-push
        resources:
          requests:
            cpu: 6
            memory: 7Gi
