postsubmits:
  gardener/gardener:
  - name: post-gardener-build-golang-test-images
    cluster: gardener-prow-trusted
    run_if_changed: '^go\.mod|^hack\/tools\/image|^hack\/tools\.mk'
    branches:
    - ^master$
    annotations:
      description: Build golang-test images on master branch
      testgrid-dashboards: gardener-gardener
      testgrid-days-of-results: "60" 
    decorate: true
    max_concurrency: 1
    reporter_config:
      slack:
        channel: prow-alerts
    spec:
      serviceAccountName: image-builder
      containers:
      - name: image-builder
        image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/image-builder:v20240418-01a9db5
        command:
        - /image-builder
        args:
        - --log-level=info
        - --docker-config-secret=gardener-prow-gcr-docker-config
        - --registry=europe-docker.pkg.dev/gardener-project/releases/ci-infra
        - --target=golang-test
        - --context=hack/tools/image
        - --kaniko-arg=--build-arg=GOPROXY=http://athens-proxy.athens.svc.cluster.local,direct
        - --kaniko-image=gcr.io/kaniko-project/executor:v1.22.0
        # image-builder is the pod which is "scheduled" to a node. The pods created by image-builder have an affinity rule
        # which schedules them to the same node as their parent image-builder. This needs to be done, that PVCs could be mounted
        # to multiple build pods in parallel.
        # For a proper scheduling the combined resource requests of all build pods are assigned to this pod, even though it does not
        # use them. The resource requests of build pods themselves are "0"
        resources:
          requests:
            cpu: 2
            memory: 2000Mi
      # Node selector is copied to build pods
      nodeSelector:
        dedicated: high-cpu
      # Tolerations are copied to build pods
      tolerations:
      - key: "dedicated"
        operator: "Equal"
        value: "high-cpu"
        effect: "NoSchedule"
