presubmits:
  gardener/gardener:
  - name: pull-gardener-apidiff
    cluster: gardener-prow-build
    skip_if_only_changed: "^docs/|\\.md$"
    decorate: true
    optional: true
    branches:
    - ^master$ # run on master branch
    spec:
      containers:
      - name: test
        image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20260209-b2bf390-1.25
        command:
        - make
        args:
        - import-tools-bin
        - check-apidiff
