# This .dockerignore should be treated as a white list for more security

# Ignore everything by default:
**
# -----------------------------------------------------------------------

# ALLOW:
!go.mod
!go.sum
!vendor/**

!prow/**

!images/krte/wrapper.sh
