presubmits:
  gardener/gardener-extension-shoot-rsyslog-relp:
  - name: pull-gardener-extension-shoot-rsyslog-relp-image-build
    cluster: gardener-prow-build
    always_run: true
    annotations:
      description: Verify Gardener extension shoot-rsyslog-relp image build on pull requests
    decorate: true
    labels:
      preset-buildkit-testbuild: "true"
    spec:
      containers:
      - name: buildkit
        image: moby/buildkit:v0.27.1-rootless
        command:
        - /usr/local/bin/buildctl-testbuild-daemonless.sh
        args:
        - --context
        - /home/prow/go/src/github.com/gardener/gardener-extension-shoot-rsyslog-relp
        - --dockerfile
        - /home/prow/go/src/github.com/gardener/gardener-extension-shoot-rsyslog-relp
        - --target
        - shoot-rsyslog-relp
        - --target
        - shoot-rsyslog-relp-admission
        - --target
        - shoot-rsyslog-relp-echo-server
        readinessProbe:
          exec:
            command:
              - buildctl
              - debug
              - workers
          initialDelaySeconds: 5
          periodSeconds: 30
        livenessProbe:
          exec:
            command:
              - buildctl
              - debug
              - workers
          initialDelaySeconds: 5
          periodSeconds: 30
        securityContext:
          seccompProfile:
            type: Unconfined
          appArmorProfile:
            type: Unconfined
          runAsUser: 1000
          runAsGroup: 1000
        resources:
          requests:
            cpu: 6
            memory: 7Gi 
