presubmits:
  gardener/gardener-extension-shoot-rsyslog-relp:
  - name: pull-gardener-extension-shoot-rsyslog-relp-image-build
    cluster: gardener-prow-build
    always_run: true
    annotations:
      description: Verify Gardener extension shoot-rsyslog-relp image build on pull requests
    decorate: true
    spec:
      containers:
      - name: kaniko
        image: gcr.io/kaniko-project/executor:v1.9.2
        command:
        - /kaniko/executor
        args:
        - --context=/home/prow/go/src/github.com/gardener/gardener-extension-shoot-rsyslog-relp
        - --dockerfile=Dockerfile
        - --no-push
        resources:
          requests:
            cpu: 6
            memory: 2Gi
