{{ define "custom_slack_title" }}
[{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}] {{ .CommonLabels.alertname }}
{{ end }}

{{ define "custom_slack_text" }}
{{ range .Alerts -}}
{{ .Annotations.message }} (`{{ .Labels.severity }}`)
{{ end }}
{{ end }}
