periodics:
- cron: "0 22 * * *"
  name: ci-gardener-landscape-kit-branch-cleaner
  cluster: gardener-prow-trusted
  decorate: true
  annotations:
    description: Clean up release branches of gardener/gardener-landscape-kit
    testgrid-create-test-group: "false"
  reporter_config:
    slack:
      channel: prow-alerts
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/branch-cleaner:v20260211-2caf24f
      command:
      - /branch-cleaner
      args:
      - --github-token-path=/etc/github-token/token
      - --github-endpoint=http://ghproxy.prow.svc.cluster.local
      - --github-endpoint=https://api.github.com
      - --dry-run=false
      - --repository=gardener/gardener-landscape-kit
      - --branch-pattern=^release-v\d+\.\d+
      - --keep-branches=3
      - --ignore-open-prs=false
      - --release-branch-mode=true
      volumeMounts:
      - name: github-token
        mountPath: /etc/github-token
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token
