apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

generatorOptions:
  disableNameSuffixHash: true

namespace: prow-monitoring

components:
- prometheus-operator-crds

resources:
- prow-monitoring_namespace.yaml
- alertmanager_rbac.yaml
- alertmanager_service.yaml
- blackbox-exporter_configmap.yaml
- blackbox-exporter_deployment.yaml
- blackbox-exporter_service.yaml
- grafana_deployment.yaml
- grafana_rbac.yaml
- grafana_service.yaml
- kube-state-metrics_deployment.yaml
- kube-state-metrics_rbac.yaml
- kube-state-metrics_service.yaml
- kube-state-metrics_servicemonitor.yaml
- monitoring_ingress.yaml
- prometheus_operator_deployment.yaml
- prometheus_operator_rbac.yaml
- prometheus_rbac.yaml
- prometheus_service.yaml
- prow_alertmanager.yaml
- prow_prometheus.yaml
- prow_servicemonitors.yaml

secretGenerator:
- name: prometheus-prow-additional-scrape-configs
  options:
    labels:
      app: prometheus
  files:
  - prometheus/additional-scrape-targets.yaml
- name: alertmanager-prow
  options:
    labels:
      app: alertmanager
  files:
  - alertmanager.yaml=alertmanager/config.yaml
  - alertmanager/slack-messages.tmpl

configMapGenerator:
- name: grafana-config
  options:
    labels:
      app: grafana
  files:
  - grafana/grafana.ini
- name: grafana-datasources
  options:
    labels:
      app: grafana
  files:
  - grafana/datasources.yaml
- name: grafana-dashboard-sources
  options:
    labels:
      app: grafana
  files:
  - grafana/dashboard-sources.yaml
- name: grafana-dashboards
  options:
    labels:
      app: grafana
  files:
  - grafana/dashboards/boskos.json
  - grafana/dashboards/boskos-http.json
  - grafana/dashboards/deck.json
  - grafana/dashboards/ghproxy.json
  - grafana/dashboards/hook.json
  - grafana/dashboards/plank.json
  - grafana/dashboards/prow.json
  - grafana/dashboards/sinker.json
  - grafana/dashboards/slo.json
  - grafana/dashboards/tide.json
