periodics:
- name: ci-prow-label-sync
  cron: "17 * * * *"  # Every hour at 17 minutes past the hour
  cluster: gardener-prow-trusted
  labels:
    app: label-sync
  decorate: true
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  reporter_config:
    slack:
      channel: prow-alerts
  annotations:
    description: Runs label_sync to synchronize GitHub repo labels with the label config defined in config/prow/labels.yaml
    testgrid-create-test-group: "false"
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20240205-8f023a0da6
      command:
      - label_sync
      args:
      - --config=config/prow/labels.yaml
      - --confirm=true
      - --only=gardener/ci-infra,gardener/gardener,gardener/gardener-extension-registry-cache,gardener/gardener-extension-shoot-oidc-service,gardener/dependency-watchdog,gardener/etcd-druid,gardener/gardener-extension-networking-cilium,gardener/gardener-extension-networking-calico,gardener/gardener-extension-shoot-networking-filter,gardener/gardener-extension-shoot-rsyslog-relp
      - --endpoint=http://ghproxy.prow.svc
      - --endpoint=https://api.github.com
      # TODO: switch to GitHub App Auth, once it's implemented in label_sync
      # see https://github.com/kubernetes/test-infra/issues/24143
      - --token=/etc/github/token
      - --debug
      volumeMounts:
      - name: github-token
        mountPath: /etc/github
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token

- cron: "54 * * * *"  # Every hour at 54 minutes past the hour
  name: ci-prow-branchprotector
  cluster: gardener-prow-trusted
  decorate: true
  decoration_config:
    timeout: 5h
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  annotations:
    description: Runs Prow's branchprotector to apply configured GitHub status context requirements and merge policies
    testgrid-create-test-group: "false"
  labels:
    app: branchprotector
  spec:
    containers:
    - image: gcr.io/k8s-prow/branchprotector:v20240205-8f023a0da6
      command:
      - branchprotector
      args:
      - --config-path=config/prow/config.yaml
      - --confirm
      - --enable-apps-restrictions=true
      - --job-config-path=config/jobs
      - --github-endpoint=http://ghproxy.prow.svc.cluster.local
      - --github-endpoint=https://api.github.com
      - --github-token-path=/etc/github/token
      volumeMounts:
      - name: github-token
        mountPath: /etc/github
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token

- cron: "44 * * * *"  # Every hour a couple of minutes before branchprotector
  name: ci-job-forker-gardener-gardener
  cluster: gardener-prow-trusted
  decorate: true
  annotations:
    description: Fork gardener/gardener prow jobs for release branches
    testgrid-create-test-group: "false"
  reporter_config:
    slack:
      channel: prow-alerts
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/job-forker:v20240207-efa2835
      command:
      - /job-forker
      args:
      - --github-token-path=/etc/github-token/token
      - --github-endpoint=http://ghproxy.prow.svc.cluster.local
      - --github-endpoint=https://api.github.com
      - --dry-run=false
      - --job-directory=config/jobs/gardener
      - --recursive=true
      - --upstream-repository=gardener/ci-infra
      - --upstream-branch=master
      - --git-email=gardener.ci.robot@gmail.com
      - --labels-override=kind/enhancement,skip-review
      volumeMounts:
      - name: github-token
        mountPath: /etc/github-token
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token

- cron: "30 * * * 1-5"
  name: ci-prow-autobump
  cluster: gardener-prow-trusted
  decorate: true
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  reporter_config:
    slack:
      channel: prow-alerts
  annotations:
    description: Runs autobumper to create/update a PR that bumps prow images to the latest published version
    testgrid-create-test-group: "false"
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20240205-8f023a0da6
      command:
      - generic-autobumper
      args:
      - --config=config/prow/autobump-config/prow-component-autobump-config.yaml
      - --labels-override=kind/enhancement
      volumeMounts:
      - name: github-token
        mountPath: /etc/github-token
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token

- cron: "35 8-12 * * 1-5"
  name: ci-prow-autobump-autodeploy
  cluster: gardener-prow-trusted
  decorate: true
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  reporter_config:
    slack:
      channel: prow-alerts
  annotations:
    description: Runs autobumper to create/update and auto-merge a PR that bumps prow images to the latest published version
    testgrid-create-test-group: "false"
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20240205-8f023a0da6
      command:
      - generic-autobumper
      args:
      - --config=config/prow/autobump-config/prow-component-autobump-config.yaml
      - --labels-override=kind/enhancement,skip-review
      volumeMounts:
      - name: github-token
        mountPath: /etc/github-token
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token

- cron: "45 * * * 1-5"
  name: ci-prow-autobump-jobs
  cluster: gardener-prow-trusted
  decorate: true
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  reporter_config:
    slack:
      channel: prow-alerts
  annotations:
    description: Runs autobumper to create/update a PR that bumps prowjob images to latest published version
    testgrid-create-test-group: "false"
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20240205-8f023a0da6
      command:
      - generic-autobumper
      args:
      - --config=config/prow/autobump-config/prow-job-autobump-config.yaml
      - --labels-override=kind/enhancement
      volumeMounts:
      - name: github-token
        mountPath: /etc/github-token
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token

- cron: "50 8-12 * * 1-5"
  name: ci-prow-autobump-autodeploy-jobs
  cluster: gardener-prow-trusted
  decorate: true
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  reporter_config:
    slack:
      channel: prow-alerts
  annotations:
    description: Runs autobumper to create/update and auto-merge a PR that bumps prowjob images to latest published version
    testgrid-create-test-group: "false"
  spec:
    containers:
    - image: gcr.io/k8s-prow/generic-autobumper:v20240205-8f023a0da6
      command:
      - generic-autobumper
      args:
      - --config=config/prow/autobump-config/prow-job-autobump-config.yaml
      - --labels-override=kind/enhancement,skip-review
      volumeMounts:
      - name: github-token
        mountPath: /etc/github-token
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token

# These jobs are used as heartbeat health checks of the Prow instance's ability to run jobs (one for each cluster).
# Alerts expect them to run every 5 mins and will fire after 20 mins without a successful run.
# Please keep them in sync with the `pull-ci-infra-prow-checkconfig` job
- name: ci-infra-prow-checkconfig-trusted
  interval: 5m
  cluster: gardener-prow-trusted
  decorate: true
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  reporter_config:
    slack:
      channel: prow-alerts
  annotations:
    description: Runs checkconfig to validate job configs, config.yaml and friends. Used as heartbeat job for alerts.
    testgrid-create-test-group: "false"
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20240205-8f023a0da6
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
      - --warnings=mismatched-tide-lenient
      - --warnings=tide-strict-branch
      - --warnings=needs-ok-to-test
      - --warnings=validate-owners
      - --warnings=missing-trigger
      - --warnings=validate-urls
      - --warnings=unknown-fields
      - --warnings=duplicate-job-refs
- name: ci-infra-prow-checkconfig-build
  interval: 5m
  cluster: gardener-prow-build
  decorate: true
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  reporter_config:
    slack:
      channel: prow-alerts
  annotations:
    description: Runs checkconfig to validate job configs, config.yaml and friends. Used as heartbeat job for alerts.
    testgrid-create-test-group: "false"
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20240205-8f023a0da6
      command:
      - checkconfig
      args:
      - --config-path=config/prow/config.yaml
      - --job-config-path=config/jobs
      - --plugin-config=config/prow/plugins.yaml
      - --strict
      - --warnings=mismatched-tide-lenient
      - --warnings=tide-strict-branch
      - --warnings=needs-ok-to-test
      - --warnings=validate-owners
      - --warnings=missing-trigger
      - --warnings=validate-urls
      - --warnings=unknown-fields
      - --warnings=duplicate-job-refs
- name: ci-ci-infra-prow-go-tests
  cluster: gardener-prow-build
  interval: 4h
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  reporter_config:
    slack:
      channel: prow-alerts
  decorate: true
  annotations:
    description: Runs go tests for prow developments in ci-infra
    testgrid-dashboards: gardener-ci-infra
    testgrid-days-of-results: "60"
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/golang-test:v20240206-10632d7-1.21
      command:
      - make
      args:
      - verify
      resources:
        limits:
          memory: 4Gi
        requests:
          cpu: 4
          memory: 2Gi
- cron: "0 22 * * *"
  name: ci-gardener-ci-robot-branch-cleaner
  cluster: gardener-prow-trusted
  decorate: true
  annotations:
    description: Clean up cherry-pick branches of gardener-ci-robot/gardener
    testgrid-create-test-group: "false"
  reporter_config:
    slack:
      channel: prow-alerts
  spec:
    containers:
    - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/branch-cleaner:v20240207-efa2835
      command:
      - /branch-cleaner
      args:
      - --github-token-path=/etc/github-token/token
      - --github-endpoint=http://ghproxy.prow.svc.cluster.local
      - --github-endpoint=https://api.github.com
      - --dry-run=false
      - --repository=gardener-ci-robot/gardener
      - --branch-pattern=^cherry-pick-.+
      - --keep-branches=0
      - --ignore-open-prs=false
      volumeMounts:
      - name: github-token
        mountPath: /etc/github-token
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token
