apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: renovate
  namespace: flux-system
spec:
  interval: 5m
  chart:
    spec:
      chart: renovate
      version: '41.37.x'
      sourceRef:
        kind: HelmRepository
        name: renovate
        namespace: flux-system
      interval: 1m
  releaseName: renovate
  targetNamespace: renovate
  install:
    createNamespace: true
  values:
    fullnameOverride: renovate

    image:
      useFull: true

    cronjob:
      schedule: "*/5 * * * *"
      concurrencyPolicy: Forbid
      preCommand: |
        disk_usage=$(df /tmp/renovate | awk 'NR==2 {print $5}' | tr -d '%')
        inode_usage=$(df -i /tmp/renovate | awk 'NR==2 {print $5}' | tr -d '%')
        if [ "$disk_usage" -gt 90 ] || [ "$inode_usage" -gt 90 ]; then
          echo "Disk usage: $disk_usage %"
          echo "Inode usage: $inode_usage %"
          echo "Renovate cache disk is almost full. Deleting contents of /tmp/renovate"
          rm -rf /tmp/renovate/*
        fi

    renovate:
      # See https://docs.renovatebot.com/self-hosted-configuration
      config: |
        {
          "platform": "github",
          "autodiscover": true,
          "autodiscoverFilter": [
            "gardener/ci-infra",
            "gardener/gardener",
            "gardener/gardener-extension-image-rewriter",
            "gardener/gardener-extension-registry-cache",
            "gardener/gardener-extension-shoot-oidc-service",
            "gardener/dependency-watchdog",
            "gardener/etcd-druid",
            "gardener/gardener-extension-networking-cilium",
            "gardener/gardener-extension-networking-calico",
            "gardener/gardener-extension-shoot-rsyslog-relp",
            "gardener/gardener-extension-shoot-cert-service",
            "gardener/gardener-discovery-server",
            "gardener/landscaper",
            "gardener/landscaper-service",
            "gardener/landscapercli",
            "gardener/dashboard",
            "gardener/gardenctl-v2",
            "gardener/gardenlogin",
            "gardener/terminal-controller-manager",
            "gardener/diki",
            "gardener/cert-management",
            "gardener/external-dns-management",
            "gardener/cluster-api-provider-gardener",
            "gardener/ops-toolbelt"
          ],
          "allowedPostUpgradeCommands": [".*"]
        }

      persistence:
        cache:
          enabled: true
          storageClass: gce-ssd
          storageSize: 10Gi

    existingSecret: github

    serviceAccount:
      create: true

    resources:
      requests:
        cpu: 500m
        memory: 256Mi

    apiVersionOverrides:
      cronjob: batch/v1

    securityContext:
      runAsUser: 12021
      runAsGroup: 12021
      fsGroup: 12021
      fsGroupChangePolicy: OnRootMismatch

    env:
      GOPROXY: http://athens-proxy.athens.svc.cluster.local,direct
