apiVersion: v1
kind: Service
metadata:
  labels:
    app: deck
  namespace: default
  name: deck
spec:
  selector:
    app: deck
  ports:
  - name: main
    port: 80
    targetPort: 8080
    protocol: TCP
  - name: metrics
    port: 9090
    protocol: TCP
  type: ClusterIP
