apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: prow
  name: ghproxy
  labels:
    app: ghproxy
spec:
  selector:
    matchLabels:
      app: ghproxy
  replicas: 1  # TODO(fejta): this should be HA
  strategy:
    rollingUpdate:
      maxSurge: 0
      maxUnavailable: 1
  template:
    metadata:
      labels:
        app: ghproxy
    spec:
      containers:
      - name: ghproxy
        image: gcr.io/k8s-prow/ghproxy:v20240511-16c13cde5
        args:
        - --cache-dir=/cache
        - --cache-sizeGB=9
        - --serve-metrics=true
        ports:
        - name: main
          containerPort: 8888
        - name: metrics
          containerPort: 9090
        volumeMounts:
        - name: cache
          mountPath: /cache
        resources:
          requests:
            cpu: 10m
            memory: 32Mi
      volumes:
      - name: cache
        persistentVolumeClaim:
          claimName: ghproxy
