## OAuth2 Proxy Config File
## https://github.com/oauth2-proxy/oauth2-proxy
reverse_proxy = true

redirect_url = "https://oauth2.prow.gardener.cloud/oauth2/callback"

pass_host_header = true
pass_access_token = false

cookie_name = "_gardener_prow"
cookie_expire = "168h"
cookie_secure = true
cookie_httponly = true
