fullnameOverride: renovate

cronjob:
  schedule: "*/5 * * * *"
  timeZone: CET

renovate:
  # See https://docs.renovatebot.com/self-hosted-configuration
  config: |
    {
      "platform": "github",
      "autodiscover": true,
      "autodiscoverFilter": [
        "gardener/ci-infra",
        "gardener/gardener",
        "gardener/gardener-extension-registry-cache",
        "gardener/gardener-extension-shoot-oidc-service",
        "gardener/dependency-watchdog",
        "gardener/etcd-druid",
        "gardener/gardener-extension-networking-cilium",
        "gardener/gardener-extension-networking-calico",
        "gardener/gardener-extension-shoot-rsyslog-relp",
        "gardener/landscaper",
        "gardener/dashboard",
        "gardener/gardenctl-v2",
        "gardener/gardenlogin",
        "gardener/terminal-controller-manager"
      ],
      "allowedPostUpgradeCommands": [".*"]
    }

  persistence:
    cache:
      enabled: true
      storageClass: gce-ssd
      storageSize: 10Gi

existingSecret: github

serviceAccount:
  create: true

resources:
  requests:
    cpu: 500m
    memory: 256Mi

apiVersionOverrides:
  cronjob: batch/v1

securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  fsGroupChangePolicy: OnRootMismatch
