presubmits:
  gardener/etcd-druid:
    - name: pull-etcd-druid-e2e-kind-nondistroless-etcd
      cluster: gardener-prow-build
      always_run: true
      skip_branches:
        - release-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
      decorate: true
      decoration_config:
        timeout: 60m
        grace_period: 15m
      labels:
        preset-dind-enabled: "true"
        preset-kind-volume-mounts: "true"
      annotations:
        description: Runs KIND cluster based e2e tests for etcd druid developments in pull requests with etcd-custom-image(nondistroless-etcd).
      spec:
        containers:
          - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20240614-5bd6396-1.21
            command:
            - wrapper.sh
            - bash
            - -c
            - make ci-e2e-kind
            # we need privileged mode in order to do docker in docker
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 6
                memory: 8Gi
            env:
            - name: USE_ETCD_DRUID_FEATURE_GATES
              value: "false"
periodics:
  - name: ci-etcd-druid-e2e-kind-nondistroless-etcd
    cluster: gardener-prow-build
    interval: 4h
    extra_refs:
      - org: gardener
        repo: etcd-druid
        base_ref: master
    decorate: true
    decoration_config:
      timeout: 60m
      grace_period: 15m
    labels:
      preset-dind-enabled: "true"
      preset-kind-volume-mounts: "true"
    annotations:
      description: Runs KIND cluster based e2e tests for etcd druid developments periodically with etcd-custom-image(nondistroless-etcd).
      testgrid-dashboards: gardener-etcd-druid
      testgrid-days-of-results: "60"
    spec:
      containers:
        - image: europe-docker.pkg.dev/gardener-project/releases/ci-infra/krte:v20240614-5bd6396-1.21
          command:
          - wrapper.sh
          - bash
          - -c
          - make ci-e2e-kind
          # we need privileged mode in order to do docker in docker
          securityContext:
            privileged: true
          resources:
            requests:
              cpu: 6
              memory: 8Gi
          env:
          - name: USE_ETCD_DRUID_FEATURE_GATES
            value: "false"
