presubmits:
  gardener/etcd-druid:
    - name: pull-etcd-druid-verify-image-build
      cluster: gardener-prow-build
      always_run: true
      skip_branches:
        - hotfix-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
      annotations:
        description: Verify etcd-druid image build on pull requests to master branch
        fork-per-release: "true"
      decorate: true
      labels:
        preset-buildkit-testbuild: "true"
      spec:
        containers:
        - name: buildkit
          image: moby/buildkit:v0.27.1-rootless
          command:
          - /usr/local/bin/buildctl-testbuild-daemonless.sh
          args:
          - --context
          - /home/prow/go/src/github.com/gardener/etcd-druid
          - --dockerfile
          - /home/prow/go/src/github.com/gardener/etcd-druid
          - --target
          - druid
          readinessProbe:
            exec:
              command:
                - buildctl
                - debug
                - workers
            initialDelaySeconds: 5
            periodSeconds: 30
          livenessProbe:
            exec:
              command:
                - buildctl
                - debug
                - workers
            initialDelaySeconds: 5
            periodSeconds: 30
          securityContext:
            seccompProfile:
              type: Unconfined
            appArmorProfile:
              type: Unconfined
            runAsUser: 1000
            runAsGroup: 1000
          resources:
            requests:
              cpu: 6
              memory: 7Gi
