presubmits:
  gardener/etcd-druid:
    - name: pull-etcd-druid-verify-image-build
      cluster: gardener-prow-build
      always_run: true
      skip_branches:
        - hotfix-v\d+.\d+ # don't run on release branches for now (add a job per branch later)
      annotations:
        description: Verify etcd-druid image build on pull requests to master branch
        fork-per-release: "true"
      decorate: true
      spec:
        containers:
        - name: buildkit
          image: moby/buildkit:v0.27.1-rootless
          command:
          - buildctl-daemonless.sh
          args:
          - build
          - --frontend
          - dockerfile.v0
          - --local
          - context=/home/prow/go/src/github.com/gardener/etcd-druid
          - --local
          - dockerfile=/home/prow/go/src/github.com/gardener/etcd-druid
          - --output
          - type=image,push=false
          env:
            - name: BUILDKITD_FLAGS
              value: --oci-worker-no-process-sandbox
          readinessProbe:
            exec:
              command:
                - buildctl
                - debug
                - workers
            initialDelaySeconds: 5
            periodSeconds: 30
          livenessProbe:
            exec:
              command:
                - buildctl
                - debug
                - workers
            initialDelaySeconds: 5
            periodSeconds: 30
          securityContext:
            seccompProfile:
              type: Unconfined
            appArmorProfile:
              type: Unconfined
            runAsUser: 1000
            runAsGroup: 1000
          volumeMounts:
          - name: buildkit-config
            mountPath: /home/user/.config/buildkit
            readOnly: true
          resources:
            requests:
              cpu: 6
              memory: 7Gi
        volumes:
        - name: buildkit-config
          configMap:
            name: buildkit-config
