- job_name: blackbox
  metrics_path: /probe
  params:
    module: [http_2xx]
  static_configs:
  - targets:
    # ATTENTION: Keep this in sync with the Blackbox Prober alerts in prow_prometheusrule.yaml
    - https://prow.gardener.cloud
    - https://monitoring.prow.gardener.cloud
    - https://storage.googleapis.com/gardener-prow/tide-history.json
  relabel_configs:
  - source_labels: [__address__]
    target_label: __param_target
  - source_labels: [__param_target]
    target_label: instance
  - target_label: __address__
    replacement: blackbox-exporter:19115
