apiVersion: apps/v1
kind: Deployment
metadata:
  name: blackbox-exporter
  namespace: monitoring
spec:
  template:
    spec:
      containers:
      - name: blackbox-exporter
        resources:
          limits:
             # Increased CPU limit
            cpu: 50m
      - name: kube-rbac-proxy
        resources:
          limits:
            # Increased CPU limit
            cpu: 50m
