apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: k8s
  namespace: monitoring
spec:
  retentionSize: 90GB
  storage:
    volumeClaimTemplate:
      metadata:
        name: prometheus
        labels:
          app.kubernetes.io/component: prometheus
          app.kubernetes.io/instance: k8s
          app.kubernetes.io/name: prometheus
          app.kubernetes.io/part-of: kube-prometheus
      spec:
        accessModes:
        - ReadWriteOnce
        storageClassName: gce-ssd
        resources:
          requests:
            storage: 100Gi
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: worker.gardener.cloud/system-components
            operator: In
            values:
            - "true" 
  topologySpreadConstraints: 
    - labelSelector:
        matchExpressions:
        - key: app.kubernetes.io/instance
          operator: In
          values:
          - k8s
        - key: app.kubernetes.io/managed-by
          operator: In
          values:
          - prometheus-operator
        - key: app.kubernetes.io/component
          operator: In
          values:
          - prometheus
        - key: app.kubernetes.io/name
          operator: In
          values:
          - prometheus
        - key: app.kubernetes.io/part-of
          operator: In
          values:
          - kube-prometheus
      maxSkew: 1
      topologyKey: topology.kubernetes.io/zone
      whenUnsatisfiable: DoNotSchedule
