periodics:
- name: ci-prow-label-sync
  cron: "17 * * * *"  # Every hour at 17 minutes past the hour
  cluster: gardener-prow-trusted
  labels:
    app: label-sync
  decorate: true
  extra_refs:
  - org: gardener
    repo: ci-infra
    base_ref: master
  reporter_config:
    slack:
      channel: prow-alerts
  annotations:
    description: Runs label_sync to synchronize GitHub repo labels with the label config defined in config/prow/labels.yaml
    testgrid-create-test-group: "false"
  spec:
    containers:
    - image: gcr.io/k8s-staging-test-infra/label_sync:v20251212-3f863f26d7
      command:
      - label_sync
      args:
      - --config=config/prow/labels.yaml
      - --confirm=true
      - --orgs=gardener
      - --github-endpoint=http://ghproxy.prow.svc
      - --github-endpoint=https://api.github.com
      # TODO: switch to GitHub App Auth, once it's implemented in label_sync
      # see https://github.com/kubernetes/test-infra/issues/24143
      - --github-token-path=/etc/github/token
      - --debug
      volumeMounts:
      - name: github-token
        mountPath: /etc/github
        readOnly: true
    volumes:
    - name: github-token
      secret:
        secretName: github-token
