name: Test Copy-Images Build

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/**
      - images/copy-images/**

jobs:
  build-copy-images:
    name: Build Copy-Images
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'gardener/ci-infra' }}
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build copy-images
        uses: docker/build-push-action@v6
        with:
          context: ./images/copy-images
          file: ./images/copy-images/Dockerfile
          target: copy-images
          push: false
          load: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
