name: Test Copy-Images Build

on:
  pull_request:
    branches:
      - master
    paths:
      - images/copy-images/**

jobs:
  build-copy-images:
    name: Build Copy-Images
    if: ${{ github.repository == 'gardener/ci-infra' }}
    uses: ./.github/workflows/copy-images.yaml
    permissions:
      contents: read
    with:
      push: never
