name: Build Copy-Images Images

on:
  workflow_call:
    inputs:
      push:
        description: Whether to push the built images to the registry. If false, the images will only be built and not pushed.
        type: string
        default: never
        required: false    

jobs:
  compute-versions:
    name: Compute Versions
    if: ${{ github.repository == 'gardener/ci-infra' }}
    uses: ./.github/workflows/compute-versions.yaml

  oci-images:
    name: Build OCI-Images
    if: ${{ github.repository == 'gardener/ci-infra' }}
    needs: compute-versions
    secrets: inherit
    uses: gardener/cc-utils/.github/workflows/oci-ocm.yaml@master
    strategy:
      matrix:
        images:
          - name: copy-images
            target: copy-images
            dockerfile: images/copy-images/Dockerfile
    with:
      name: ${{ matrix.images.name }}
      version: ${{ needs.compute-versions.outputs.semver-version }}
      dockerfile: ${{ matrix.images.dockerfile }}
      target: ${{ matrix.images.target }}
      oci-registry: europe-docker.pkg.dev/gardener-project/releases/ci-infra
      oci-repository: ${{ matrix.images.name }}
      oci-platforms: linux/amd64,linux/arm64
      ocm-labels: ""
      extra-tags: ${{ needs.compute-versions.outputs.prow-version }},latest
      push: ${{ inputs.push }}
