name: Test krte Build

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/krte-build.yaml
      - .github/workflows/krte-images.yaml
      - images/krte/**

jobs:
  generate-matrix:
    name: Generate Matrix
    if: ${{ github.repository == 'gardener/ci-infra' }}
    uses: ./.github/workflows/krte-images.yaml

  build-krte:
    name: Build krte
    if: ${{ github.repository == 'gardener/ci-infra' }}
    needs: generate-matrix
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix: ${{ fromJSON(needs.generate-matrix.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build krte
        uses: docker/build-push-action@v6
        with:
          context: ./images/krte
          file: ./images/krte/Dockerfile
          target: krte
          build-args: |
            golangtestimage=${{ matrix.images.golangtestimage }}
            IMAGE_ARG=${{ matrix.images.IMAGE_ARG }}
          push: false
          load: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
