name: Test Prow Images Build

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/**
      - prow/**
      - Dockerfile
      - go.*

jobs:
  build-prow-images:
    name: Build Prow Images
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'gardener/ci-infra' }}
    permissions:
      contents: read
    strategy:
      matrix:
        target:
          - branch-cleaner
          - cherrypicker
          - cla-assistant
          - image-builder
          - job-forker
          - milestone-activator
          - release-handler
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build ${{ matrix.target }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          target: ${{ matrix.target }}
          push: false
          load: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
