name: Test Prow Images Build

on:
  pull_request:
    branches:
      - master
    paths:
      - .github/workflows/prow-images-*
      - prow/**
      - Dockerfile
      - go.*

jobs:
  build-prow-images:
    name: Build Prow Images
    if: ${{ github.repository == 'gardener/ci-infra' }}
    uses: ./.github/workflows/prow-images.yaml
    permissions:
      contents: read
    with:
      push: never
