---
gitHubLogin: "gardener-ci-robot"
gitHubToken: "/etc/github-token/token"
gitName: "Gardener Prow Robot"
gitEmail: "gardener.ci.robot@gmail.com"
skipPullRequest: false
gitHubOrg: "gardener"
gitHubRepo: "ci-infra"
remoteName: "ci-infra"
headBranchName: "prowjobs-autobump"
upstreamURLBase: "https://raw.githubusercontent.com/gardener/ci-infra/master"
includedConfigPaths:
  - ".github/workflows"
  - "config/jobs"
targetVersion: "latest"
prefixes:
  - name: "Prow jobs - prow"
    prefix: "us-docker.pkg.dev/k8s-infra-prow/images/"
    repo: "https://github.com/kubernetes-sigs/prow"
    summarise: false
    consistentImages: false
  - name: "Prow jobs - test-infra"
    prefix: "gcr.io/k8s-staging-test-infra/"
    repo: "https://github.com/kubernetes/test-infra"
    summarise: false
    consistentImages: false
  - name: "Prow jobs - ci-infra"
    prefix: "europe-docker.pkg.dev/gardener-project/releases/ci-infra/"
    repo: "https://github.com/gardener/ci-infra"
    summarise: false
    consistentImages: false
